.dataBox{
	display: inline-block !important;
	overflow-y:scroll;
	max-height: 200px;
	overflow-x:scroll;
	max-width:100%; 
}
.requiredastrick {
	color: red;
	padding-left: 3px;
    font-size: 15px;
}

.belowZero {
	background: #cc0000;
	color: #130fb5;
}

.zero {
	background: #fd9005;
	color: #130fb5;
}

.one {
	background: #fd05ba;
	color: #130fb5;
}

.two {
	background: #05d9fd;
	color: #130fb5;
}

.three {
	background: #fdec05;
	color: #130fb5;
}

.four {
	background: #86afef;
	color: #130fb5;
}

.five {
	background: #b1b7c1;
	color: #130fb5;
}

.aboveFive {

}

.editColumn{
	border: none !important;
}
.highlight {
 background-color: Yellow;
 color: Green;
}
.imgMobileButton{
	border-radius: 15px; 
}
.imgMobileButton:hover{
	opacity: 0.5 !important;
	cursor: pointer;
}
.imgDthButton{
	border-radius: 45px; 
}
.imgDthButton:hover{
	opacity: 0.5 !important;
	cursor: pointer;
}
.labelClass{
	display: grid;
    text-align: -webkit-right;
    width: 50%;
    padding-right:20px;
    float: left;
}
.labelClass label{
	margin-top: 5px;
	margin-bottom: 4px;
}
.inputClass{
	display: inline-block;
    text-align: -webkit-left;
    width: 50%;
    padding-left: 2px;
}
.inputClass input{
	margin-top: 3px;
	margin-bottom: 2px;
}
.buttonClass{
	padding-top: 2px;
}
